@import './base.css';

body {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  background-size: cover;
  margin: 0;
}

.splash-block {
  background-image: url('./splash-bg-unlic.jpg');
  min-height: 100vh;
  min-width: 100vw;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.splash-block-container {
  background-color: rgba(0,0,0,0.4);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  margin-top: 100px;
  border-radius: 8px;
}

.splash-heading {
  font-size: 60px;
  font-weight: bolder;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  font-family: radlush-extra-bold;
  letter-spacing: 2px;
}

.splash-blurb {
  font-size: 16px;
  color: #FFFFFF;
  margin-top: 20px;
}

.splash-version {
  font-size: 14px;
  color: #FFFFFF;
  margin-top: 10px;
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
}
